<configuration scan="true" scanPeriod="30 seconds">

	 <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %-60logger{60} - %msg%n</pattern>
		</layout>
	</appender>

	<logger name="httpclient" level="INFO" />
	<logger name="org.apache.commons.httpclient" level="INFO" />
	<logger name="org.apache.http" level="INFO" />
	<logger name="org.apache.commons.beanutils" level="INFO" />
	
	<logger name="com.archfashion" level="TRACE" />

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>